########################################
# Python
########################################
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

########################################
# Virtual Environment
########################################
venv/
.env/

########################################
# IDE / Editor
########################################
.vscode/
.idea/

########################################
# Flask Runtime Files
########################################
instance/
*.db
app/*.db
app/violations.db

########################################
# Static runtime folders (do NOT push user data)
########################################
app/static/uploads/
app/static/video_out/
app/static/evidence/
app/outputs/

########################################
# Model Weights (too large for GitHub)
########################################
app/model/*.pt
app/model/*.onnx

########################################
# OS Files
########################################
.DS_Store
Thumbs.db
desktop.ini

########################################
# Logs
########################################
*.log
logs/
